<h3>New Event</h3>
<form>
    <div>
        <label>Date:</label>
      {{!input type="date" value=model.date}}
        Need to figure out date input for handlebars
    </div>
    <div>
        <label>Description:</label>
      {{textarea rows="5" value=model.description}}
    </div>

    <div>
        <button {{action 'save'}}>Save</button>
        <button {{action 'cancel'}}>Cancel</button>
    </div>
</form>